@heroes-purple: #490087;
@heroes-gold: #CDB771;
@heroes-black: #010000;
@background-grey: #242424;

body {
    background-color: @background-grey;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}
a {
    color: whitesmoke;
}

@barHeight: 80px;
.iconBar {
    width: 100%;
    height: @barHeight;
    background-color: @heroes-black;
    color: whitesmoke;
    position: fixed;
    z-index: 1;   
    display: flex;
    justify-content: center;
    align-items: center;
    nav {
        display: inherit;
        gap: 16px;
    }
}
.material-symbols-outlined {
    font-size: xxx-large;
}
#iconBarTop {
    top: 0;
    justify-content: end;
    nav { 
        margin-right:24px;
    }
}
#iconBarBot {
    bottom: 0;
}

#displayWindow {
    margin: 16px;
    margin-top: @barHeight + 16px;
}