@heroes-purple: #490087;
@heroes-gold: #CDB771;
@heroes-black: #010000;
@background-grey: #242424;


h1{
    font-size: x-large;
}
body {
    background-color: @background-grey;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}
a {
    color: whitesmoke;
}

@barHeight: 80px;
.iconBar {
    width: 100%;
    height: @barHeight;
    background-color: @heroes-black;
    color: whitesmoke;
    position: fixed;
    z-index: 1;   
    display: flex;
    align-items: center;
    nav {
        display: inherit;
        gap: 16px;
    }
}
.material-symbols-outlined {
    font-size: xxx-large;
}
.active {
    color: @heroes-purple;
}
#iconBarTop {
    top: 0;
    nav { 
        margin-right:24px;
        margin-left: auto;
    }
}
#iconBarBot {
    bottom: 0;
    justify-content: center;

}
#topLogo{
    height: 80px;
    width: 80px;
    margin-left: 24px;
}

#displayWindow {
    margin: 16px;
    margin-top: @barHeight + 16px;
}